PyAudio==0.2.14
psutil==6.0.0
pyttsx3==2.91
SpeechRecognition==3.10.4
wikipedia==1.4.0
selenium==4.24.0
PyAutoGUI==0.9.54
requests==2.32.3
instaloader==4.13.1
geocoder==1.38.1
google-generativeai==0.7.2
generativeai==0.0.1
beautifulsoup4==4.12.3
speedtest==0.0.1
pywhatkit==5.4
googletrans==3.0.0
python-dotenv==1.0.1
Pygments==2.18.0
